* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aqua;
  font-family: Arial, sans-serif;
}


img {
  display: block;
  margin: 20px auto;
  width: 20%;
}


.container {
  width: 300px;
  margin:auto;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 15px;
  background-color: rgb(17, 0, 255);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  opacity: 0.8;
}


form {
  text-align: left;
  margin-top: 20px;
}

form label {
  display: block;
  margin: 10px 0 5px;
}

form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 6px;
  margin-bottom: 10px;
}
